<p>search-bar-panel works!</p>
<div class="panel">
    <!-- S E A R C H F I L T E R -->
    <form #searchFilterForm="ngForm" class="dsf-form" autocomplete="off">
        <div cy-name="search-filter" class="field field-margins">
            <span cy-field-label="search-filter" cy-input-type="input" class="label">FILTRO:</span><br>
            <div class="dsf-input-container label-width">
                <input matInput name="filter" type="text" [(ngModel)]="searchword" (input)="searchThis()">
            </div>
        </div>
    </form>
</div>