.panel {
    border: 1px solid black;
    margin-bottom: 2px;
    padding: 2px;
}

.render {
    // transform: translate3d(0px, -5px, 0px);
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    padding: 6px;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 4px;
    cursor: grab;
}