<div id="{{getUniqueId()}}" class="render" style="transform: translate3d(0px, -5px, 0px);">
    <div class="patient-name">{{getFullName()}}</div>
    <div class="patient-dni">{{getDNI()}}</div>
    <!-- <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="blueviolet" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark completed-request" viewBox="0 0 100 100">
        <path d=" M100,100 L0,100 L100,0 L100,100 " />
    </svg> -->
</div>