<p>patient-list-page works!</p>
<div class="row">
    <div>PATIENT LIST PAGE HEADER</div>
    <v1-work-table class="panel"></v1-work-table>
</div>
<div class="row">
    <v1-verbs-panel class="panel"></v1-verbs-panel>
    <div class="column">
        <search-bar-panel (searchcriteria)="getFilteredPatients($event)"></search-bar-panel>
        <v1-patients-panel [filter]="patientFilter"></v1-patients-panel>
    </div>
</div>