.node-panel {
    margin-bottom: 4px;
    opacity: 0.8;
}

.node-panel:hover {
    opacity: 1.0;
    background-color: #240F21
}

.body-box {
    width: 100%;
}

.corner-bottom {
    position: absolute;
    width: 14px;
    bottom: 0px;
    right: -2px;
    fill: orangered;
}

.corner-top {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
}

.active {
    fill: green;
}

// - R I G H T   A R R O W   S E C T I O N

/* Defines the cursor and aligment for the arrow container. Used mostly for the cursor. */

.arrow-box {
    cursor: pointer;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin: auto;
}


/* Transformation to change the arrow when expansion is active. */

.arrow {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.arrow.open {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.arrow-expanded {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

.arrow-expanded.open {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}