<div (mouseenter)="mouseEnter(node)" style="position: relative;">
    <div class="row node-panel body-box">
        <!-- BODY -->
        <div class="row body-box">
            <v1-patient style="width: 100%;" *ngIf="node.getJsonClass() == 'Patient'" [container]="container" [node]="node" [variant]="variant"></v1-patient>
        </div>
    </div>
</div>