<p>v1-patients-panel works!</p>
<div class="panel"></div>
<div cy-name="filter" class="invisible">{{filter}}</div>
<div cy-name="total" class="counter outline">{{total}}</div>
<div cy-name="page-size" class="invisible">{{getNodes2Render().length}}</div>
<div style="column-count: 3;">
    <div *ngFor="let node of getNodes2Render()" cdkDrag>
        <v1-patient [node]="node"></v1-patient>
    </div>
</div>
<canvas width="320" height="240">
    <p>Your browser doesn't support canvas. Boo hoo!</p>
  </canvas>