@import "./styles/global-styles.scss";
@font-face {
    font-family: 'White Rabbit Regular';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: local('White Rabbit Regular'), url('assets/fonts/WHITRABT.woff') format('woff');
}